
importFrom(graphics, abline, hist, layout, legend, par, plot)

importFrom(stats, as.ts, coef, dendrapply, deviance, end, formula,
           frequency, IQR, is.leaf, knots, naprint, optimize, pf,
           pnorm, printCoefmat, pt, qnorm, quantile,
           reformulate, residuals, start, symnum, terms, time, ts, tsp,
           write.ftable)

importFrom(utils, browseURL, menu, str, toBibtex)


export("LBEa","LBEplot","LBE","LBEsummary","LBEwrite")
